.App {
  font-family: sans-serif;
}

.profile-pic {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
}

.App>div:nth-child(4)>.profile-pic {
  border-radius: 0px;
}

.user-container {
  padding: 1rem;
  font-size: 20px;
}

.add-color {
  display: flex;
  margin-top: 16px;

}

.book-specs {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.book-container {
  width: 350px;
}

.book-poster {
  width: 350px;
  height: 500px;
  object-fit: cover;
}

.book-name {
  font-size: 24px;
  margin: 0;
}

.book-summary {
  margin-top: 0;
}

.book-rating {
  font-size: 20px;
}

.book-list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 24px;
}

.add-book-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 24px;
}

.book-detail-container {
  max-width: 900px;
}